{% extends 'core/base.html' %} {% block title %} Category | {% endblock %} 
{%block content %} 
{% for post in posts %}
<div class="blog-post">
  <h2 class="blog-post-title">{{ post.title }}</h2>
  <p class="blog-post-meta">{{ post.created_at }} by <a href="#">Yusuf</a></p>
  <p>{{ post.intro }}</p>
  <a href="{% url 'post_detail' post.category.slug post.slug %}"
    >Continue reading</a
  >
</div>
{% empty %}
<div class="content">
  <p>There is no posts in this category....</p>
</div>
{% endfor %}
{% endblock %}
