{% extends 'core/base.html' %}
{% block title %}
    Search |
{% endblock %}
{% block content %}
<div class="alert alert-success" role="alert">
   <p><strong>Search results Query</strong> : {{ query }}</p>
</div>
{% for post in posts %}
<div class="blog-post infinite-item">
    <h3>{{ post.title }}</h3>
    <p class="blog-post-meta">{{ post.created_at }} by <a href="#">Yusuf</a></p>
    <p>{{ post.intro }}</p>
    <a href="{% url 'post_detail' post.category.slug post.slug %}">Continue reading</a>
  </div>
{% empty %}
<div class="content">
<p>No result for the given query....</p>
</div>
{% endfor %}
{% endblock %}